<head>
    <link rel="stylesheet" href="./view.css">

    <!-- Pako for ZLIB decompression -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pako/2.1.0/pako.min.js" integrity="sha512-g2TeAWw5GPnX7z0Kn8nFbYfeHcvAu/tx6d6mrLe/90mkCxO+RcptyYpksUz35EO337F83bZwcmUyHiHamspkfg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script src="../util/NBT.js"></script>
    <script src="../util/RegionFile.js"></script>
    <script src="./view.js"></script>
</head>
<body>
    <div id="uploadSection">
        <label for="regionFileUpload">Upload Region File: </label>
        <!-- only accept `.mca` files as thats the anvil file type we're supporting; `.mcr` is the old region format, that i can maybe add later -->
        <!-- removed `multiple` to only allow 1 upload -->
        <input type="file" accept=".mca" id="regionFileUpload" name="regionFileUpload" onchange="handleFileUpload(this.id)"/>
    </div>
</body>
